.line {
    display: block;
    padding: 0px;
    margin: 0px;

    user-select: none;
}

.tile {
    display: inline-block;

    width: 80px;
    height: 80px;

    border: 2px black solid;

    padding: 0px;
    margin: 0px;

    font-size: xx-large;
}

.highLighted {
    background-color: red;
}